html{
	background-color: #ffffff
	font-family: "Merriweather", serif;
	line-height: 1.5rem
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.grain-1{
	float: left;
	width: 8%;
	padding: 0.5em 0em 0em 0em;
}

.grain-2{
	float: right;
	width: 8%;
	padding: 0.5em 0em 0em 0em;
}

h1, h2{
	font-weight: bold;
	font-size: 2rem;
	color: #ffffff;
}

header {
	background-color: #cd5b34;
	padding: 0.5em 0em 0em 0em;
	margin: 0;
}
.grains{
	font-size: 3rem;
}

h1 {
	margin: 0.5em;
	text-align: center;
}

h2 {
	padding: 1em 0 0;
}

nav {
	border-top: 2px solid #a33f3a;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav ol {
	margin: 0;
	padding: 0;
}

nav a {
	border-left: 2px solid #a33f3a;
	display: inline-block;
	background-color: #cd5b34;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 0;
}

a:hover {
	display: inline-block;
	background-color: #a33f3a;
	color: white;
}

div {
	background-color: #ffffff;
	padding: 1em;
}

.grains-image {
	width: 40%;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}

.cereals-image {
	width: 40%;
	float: right;
}

.quinoa-image {
	width: 30%;
	float: right;
}

footer {
	background-color: #cd5b34;
	color: white;
	text-align: center;
	padding: 1em 1em 1em 1em;
	width: 100%;
}
